# Web / Streamlit
streamlit
streamlit-webrtc
streamlit-geolocation

# Data handling
numpy
pandas
scikit-learn
joblib
streamlit-audiorec

# HTTP requests and environment
requests
python-dotenv

# OpenAI / Groq
openai
groq

# LangChain
langchain-groq
langchain-core

# Audio
gTTS
pydub
av

